img{
    width: 170px;
    height: 120px;
    
}
.main-header{
    background-color: #323859;
    color: white;
}
.body{
    margin: 0;
}
.header-nav{
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.header-nav a{
text-decoration: none;
border-radius: 4px;
color: white;
}
.header-nav a:hover
{color: #85D082;
    border: 2px solid #85D082;
border-radius: 4px;

}
.navbar{
    display: flex;
    /*border: 2px black solid;*/
    padding: 20px 0;
    justify-content: space-between;
    align-content: center;
}
.header-form input[type="text"] {
background-color: #85D082;
height: 20px;
border-radius: 4px;
padding: 10px;
border:2px solid ;

    
    
  
}
.header-form input[type="submit"]
{
    border: none;
    height: 38px;
    background-color: #85D082;
    margin-right: 200px;
}
.myifo{
    display: flex;
    padding: 30px;
}
.inf0-text{
    width: 50%;
}
.myifo h1{
    color: #85D082;
    font-size: 24px;
   
}
.myifo button{
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: white;
    background-color: #85D082;
}
.box-container{
    max-width: 6000px;
    margin: auto;
}
/* services section */
.service-section{
   background-color:  #1a1826; ;
    color: #fff;
}
.my-services h3{
    margin: 0;
     text-align: center;
}
.my-services {
    color: #85D082;
}
.service-section img {
    width: 30px;
    height: 30px;
    justify-content: center;
}
.first img{
    float: right;
}
.services-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.service{
    width: 180px;
    background-color: #323859;
    padding: 20px;
    border-radius: 4px;
    /* align-items: center; */
    justify-content: center;
}
.service-section h2{
    padding: 20px 0;
}
.service h3{
    font-size: 16px;
}
.service p{
    margin: 0;
}
.service:hover{
    background-color: pink;
    transform: scale(1.5);
    transition: all 0.5s ease;
}
.projects-section{
    margin-top: 40px;
    width: 3000px;
    margin-left: 2px;
    background-color: #323859;
    
}
.second{
    background-color: #323859;
    width: 1009px;
    text-align: center;
    color: white;
}
.projects{
    display: flex;
    
}.mine{
    
}
.yours{
    
}
.mine img{
    margin: 20px;
    width: 500px;
    height: 270px;
    margin-left: ;
}

.yours img{
    margin: 20px;
    width: 500px;
    height: 270px;
}
.testimonials-section{
    background-color: #1a1826;
    color: #fff;
    justify-content: center;
   
}
.testimonials{
    display: flex;
    justify-content: space;
    align-items: center;
    color: #1a1826;
    padding: 30px 10px;
    border-radius: 4px;

}
.testimonial-container{
    display: flex;
}
.testimonial{
    display: flex;
    justify-content: center;
}
.testimonials-section h2{
    text-align: center;
}
footer{
    margin-top: 20px;
    background-color: #323859;

}